:root {
  --primary-color: #09fcfd;
  --size-unit: 64px;
  --ships-animation-duration: 200ms;
  --explosion-animation-duration: 600ms;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  position: relative;
}

.info {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 32px;
  z-index: 2;
  position: relative;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 3;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.modal__content {
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal__text {
  font-size: 42px;
  text-align: center;
}

.modal__button {
  padding: 30px 15px;
  background-color: transparent;
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
  font-size: 48px;
  margin-top: 20px;
  outline: none;
  transition: box-shadow 0.1s ease-in;
}

.modal__button:hover {
  box-shadow: 0px 0px 20px 5px var(--primary-color);
}

.spaceship {
  position: fixed;
  width: var(--size-unit);
  height: var(--size-unit);
  background-image: url("../images/ship.png");
  animation: move-8-frames var(--ships-animation-duration) steps(8) infinite;
}

.enemy {
  width: var(--size-unit);
  height: var(--size-unit);
  background-image: url("../images/enemy.png");
  animation: move-5-frames var(--ships-animation-duration) steps(5) infinite;
}

.enemy__big {
  width: calc(var(--size-unit) * 2);
  height: calc(var(--size-unit) * 2);
  background-image: url("../images/enemy-big.png");
  animation: move-16-frames var(--ships-animation-duration) steps(8) infinite;
}

.explosion {
  width: var(--size-unit);
  height: var(--size-unit);
  background-image: url("../images/explosion.png");
  animation: move-17-frames var(--explosion-animation-duration) steps(17)
    forwards;
}
.explosion__big {
  width: calc(var(--size-unit) * 2);
  height: calc(var(--size-unit) * 2);
  background-image: url("../images/explosion-big.png");
  animation: move-34-frames var(--explosion-animation-duration) steps(17)
    forwards;
}

.missile {
  background-image: url("../images/missile.png");
  background-size: cover;
  width: 12px;
  height: 24px;
  position: absolute;
}

@keyframes move-8-frames {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: calc(var(--size-unit) * -8);
  }
}
@keyframes move-16-frames {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: calc(var(--size-unit) * -16);
  }
}
@keyframes move-17-frames {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: calc(var(--size-unit) * -17);
  }
}
@keyframes move-34-frames {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: calc(var(--size-unit) * -34);
  }
}
@keyframes move-5-frames {
  from {
    background-position-x: 0px;
  }
  to {
    background-position-x: calc(var(--size-unit) * -5);
  }
}
.hide {
  display: none;
}
